<!-- <app-statistics [following]="1000" [followers]="200" [points]="12312"></app-statistics> -->
<!-- <app-post></app-post> -->
<!-- <app-myanim></app-myanim> -->
<!-- <app-profile></app-profile> -->
<app-editprofile></app-editprofile>