<div class="master">

  <!-- Head -->
  <div class="header">
    <div class="h-start">
      <div id="avatar" [ngStyle]="{'background-image': 'url('+ post.avatar +')'}"></div>
      <div class="names-sec">
        <div id="name">{{post.creator}}</div>
        <div id="address">{{post.address}}</div>
      </div>
    </div>
    <button class="end" id="more-btn"> ... </button>
  </div>

  <!-- body  -->
  <div class="body" [ngStyle]="{'background-image':'url('+ post.hostimg + ')'}" >
    <div class="descriptions">
      <div id="title">{{post.title}}</div>
      <div id="exerpt">{{post.exerpt}}</div>
    </div>
  </div>

  <!-- is ad sec -->
  <div id="ad-sign">Advertisement</div>

  <!-- button section -->
  <div class="buttons">
    <div class="start">
      <button class="icon-btn"> L </button>
      <button class="icon-btn"> C </button>
      <button class="icon-btn"> S </button>
    </div>
    <div class="end">
      <button class="icon-btn"> B </button>
    </div>
  </div>

  <!-- statistics -->
  <div class="statistics">
    {{post.likesCount}} Likes {{post.commentsCount}} Comments
  </div>

  <!-- comments -->
  <div class="comments">
    <div *ngFor="let comment of comments" class="comment">
      <div class="name">{{comment.user}}</div>
      {{comment.comment}}
    </div>
  </div>

  <!-- time -->
  <div class="footer">
    <div class="start">
      {{getTime()}}
    </div>
    View all Comments
  </div>
</div>