.master {
  $base-font-size: 1em;
  $padding-lr: 2vmin;
  $padding-tb: 1.5vmin;
  $color-btn-bar: #A0A0A0;
  $oom-font-color: #616161;
  $oom-font-color2: #838383;
  $oom-font-color3: #B8B8B8;
  $font-clr-light: #FFFFFF;
  $header-height: calc(2vh + 8vw);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #F3E8E8;
  padding: $padding-tb 0;

  .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: $header-height; 
    margin: 0 $padding-lr $padding-tb $padding-lr;

    .h-start {
      display: flex;
      height: 100%;

      #avatar { 
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        max-height: 86%;
        min-width: calc(2vh + 8vw);
        align-self: center;
      }

      .names-sec {
        align-self: flex-end;
        max-height: 100%;
        margin-bottom: 0%;
        background-color: rgba(47, 83, 225, 0.42);
        font-size: $base-font-size;


        #name { 
          font-size: $base-font-size * 1.1;
          font-weight: bold;
        }

        #address { 
          color: $oom-font-color;
        }

      }

    }
    #more-btn { }
  }

  $description-font-size: $base-font-size * 1.2;

  .body {
    height: 50vh;
    .descriptions {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start; 
      background: linear-gradient(transparent 60%, #000), no-repeat center;
      height: 100%;
      font-size: $description-font-size;
      padding: $padding-lr * 0.5 $padding-lr;
      #title { 
        overflow: hidden;
        font-size: 1.3 * $description-font-size ;
        color: $font-clr-light;
        font-weight: bold;
      }
      #exerpt { 
        overflow: hidden;
        color: $font-clr-light;
        min-height: 2 * $description-font-size;
        padding-bottom: $padding-lr;
      }
    }
  }
  
  #ad-sign {
    font-size: calc($base-font-size * 0.8);
    font-style: italic;
    padding: 2px $padding-lr;
    background-color: #000;
    color: $font-clr-light;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: $color-btn-bar;
    padding: 0px $padding-lr;
    .icon-btn { }
  }

  .statistics {
    margin: 5px $padding-lr 0px $padding-lr;
    color: $oom-font-color2;
  }

  .comments {
    display: flex;
    flex-direction: column;
    margin: 0px $padding-lr;
    color: $oom-font-color2;
    .comment {
      align-content: flex-start;
      display: flex;
      flex-wrap: wrap;
      .name {
        font-weight: bold;
        margin-right: 1vw;
        color: $oom-font-color;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px $padding-lr;
    color: $oom-font-color3;
  }
}