<div class="master">
  <div class="cover-sec" [ngStyle]="{background: 'url(' + image + ') no-repeat'}">
    <div class="avatar-sec">
      <div id="start">
        <button> R </button>
      </div>
      <div id="mid" [ngStyle]="{background: 'url(' + avatar + ') no-repeat'}"></div>
<!-- <div id="avatar" ></div> -->
      <div id="end">
        <button> L </button>
      </div>
    </div>
    <!-- bottom section -->
    <div class="description-sec">
      <div id="name">Elizabeth Mitchell</div>
      <div id="statistics">
        <div> 500 Likes 2 comments 2 shares </div>
      </div>
      <div id="button">
        <button>follow</button>  
      </div>
    </div>
  </div>
  <div class="tab">
    Tab
  </div>
  
</div>