.master {
  $min-cover-height: 240px;
  $max-cover-height: 320px;
  $padding-away-avatar: 6vw;
  $overlay-white: rgba(255,255,255,0.6);
  $cover-height: 50vw;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .cover-sec {
    display: flex;
    flex-direction: column;
    height: 50vw;
    min-height: $min-cover-height;
    max-height: $max-cover-height;
    background-size: cover !important;
    justify-content: space-around;
    background-position-x: center !important;
    
    .avatar-sec {
      flex-grow: 2;
      flex-basis: 60%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      align-content: start;
      background-color: $overlay-white; 

      #start {
        align-self: center;
        padding-right: $padding-away-avatar;
      }

      #mid {
        align-self: center;
        width: $cover-height * 0.4;
        height: $cover-height * 0.4;
        max-height: $min-cover-height * 0.6;
        min-height: $min-cover-height * 0.38;
        min-width: $min-cover-height * 0.38;
        background-size: 100% !important;
        background-position: 50% !important; 
        border-radius: 50%;
      }

      #end {
        align-self: center;
        padding-left: $padding-away-avatar;
      }

    }

    .description-sec {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      background-color: $overlay-white; 

      #name {
        align-self: center;
        text-align: center;
        padding: $max-cover-height * 0.03 0 $max-cover-height * 0.02 0;
        font-size: 1.3em;
        font-weight: bold;
      }

      #statistics {
        align-self: center;
        padding: $max-cover-height * 0.01;
        font-size: 0.9em;
      }

      #button {
        align-self: center;
        padding: $max-cover-height * 0.05;
      }
    }
  }

  .tab {
    background-color: #E0E06B;
  }
  
}