.container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;

  .red {
    background-color: #af8484;
  }

  .green {
    background-color: #84af94;
    }

  .blue {
    background-color: #8484af;
  }

  .stat-container {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-basis: 33.3%;
    align-items: flex-end;
    color: #fff;

    .stat-data {
      font-size: 1.2em;
      margin-right: 0.2em;
    }

  }
}
