<div class="container">
  <div class="stat-container green">
    <div class="stat-data">
      {{followers}}
    </div>
     followers
  </div>

  <!-- following -->
  <div class="stat-container red">
    <div class="stat-data">
      {{following}}
    </div>
     following
  </div>

  <!-- points -->
  <div class="stat-container blue">
    <div class="stat-data">
      {{points}}
    </div>
     points
  </div>
</div>